#sidebar-panel{
    width: 0;
    position: fixed;
    z-index: 1;
    margin-top: 2rem;
    margin-left: 1rem;
    overflow-x: hidden;
    transition: 0.5s;
}


.pages-div
{
   width: 10rem;
}

.account-div{
    display: grid;
    row-gap: 0.5rem;
    width: 10rem;
}