:root{
    --calculator-width: 22vw;
    --calculator-height: 75vh;
}
*{
    padding: 0%;
    margin: 0%;
}
body{
    background-color:  rgba(93, 93, 93, 0.88);
}
#bg-panel{
    justify-content: center;
}

.main-bg{
    background-color: black;
    width: var(--calculator-width);
    height:var(--calculator-height);
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: 1fr;
    margin: 10vh 20vw 5vh 38vw;
    border-radius: 1rem;
}
#in-out-panel{
    width: 19.5vw;
    height: 15vh;
    border-radius: 1.5rem;
    font-size: 2.5rem;
    color: rgb(32, 32, 32);
    text-align: right;
    margin: 1rem;
    background-color: rgba(255, 255, 255, 0.971);
}

.btn-panel{
    width: 20vw;
    height:8vh;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 1rem;
    /* background-color: bisque; */
}


.btn{
    width: 4vw;
    height: 8vh;
    margin-right: 2.5%;
    align-items: center;
    border-radius: 100px;
    background-color: rgba(220, 220, 220, 0.649);
    border-style: none;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    font-size: 1.1rem;
}
.opt{
    background-color: rgb(255, 138, 21);
}

span{
    /* background-color: white; */
    padding: 1.2rem;
}
.btn-img{
    width: 1.8vw;
    height: 3.5vh;
    padding: 1rem;
}
